<%= form_with(model: admin_student, local: true) do |form| %>
  <% if admin_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_student.errors.count, "error") %> prohibited this admin_student from being saved:</h2>

      <ul>
      <% admin_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :admin_student_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :admin_student_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
