<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @test.nama %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @test.alamat %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
